:root {
    --background: linear-gradient(to top #a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089 );
    --background-light: rgb(223, 216, 216);
    --box-shadow: 4px 4px 4px rgba(74, 69, 69, 0.736); 
    --primary-color: rgb(130, 226, 218); 
    --text-color: black; 
    --text-light:rgb(255, 105, 180);
    --font-size:16px;
    --animation-speed:1;
    --font-family:Georgia, serif;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    padding-top: 180px;
    background: var(--background);
    font-family: var(--font-family); 
}


@import "partials/navbar.scss";

// Recipes sass style

@import "partials/recipes.scss";


@import "partials/hero2.scss";
@import "partials/circles.scss";
@import "partials/modal.scss";
@import "partials/seasonal.scss";


@import "partials/footer.scss";

// Settings
@import "partials/setting.scss";

//Contacts
@import "partials/contact.scss";

//Terms & privary
@import "partials/terms.scss";


//404
@import "partials/404.scss";



