:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(228, 211, 211, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 120px;
}

@import "partials/navbar.scss";

// Recipes sass style

@import "partials/recipes.scss";

@import "partials/hero.scss";

@import "partials/footer.scss";

// Settings
@import "partials/setting.scss";