/* Desert-Circles */
.circles {
   background: var(--background-color);
   font-size: var(--font-size);
   font-family: var(--font-family);
 }

.h-desserts {
   padding: 120px;
   font-size: 2em;
}

.desserts-container {
  display: flex;
  overflow-x: auto; /* Add horizontal scroll if the content overflows */
  height: 280px;
 
}

.dessert-circle {
  flex: 0 0 auto; /* Prevent items from stretching */
  margin-right: 10px; 
  border-radius: 50%;
  position: relative;
   
}

.img {
  height: 200px; 
  width: 200px; 
  border-radius: 50%;
}

.btn-viewmore {
  position: absolute;
  padding: 4px;
  background-color: var(--primary-color);
  font-size: larger;
  width: 80px;
  border-radius: 8px;
  transform: translateX(-50%);
  margin-bottom: 2px;
  bottom: 0;
  left: 5em;

  &:hover{
    background: var(--text-color);
    color: var(--primary-color);
  }
}

@media screen and (max-width: 768px) {
    .desserts-container {
      flex-wrap: wrap;
    }
}
  


