/* Desert-Circles */
.h-desserts{
  color: rgb(1, 8, 2);
  font-size: 40px;
  padding-top: 150px;
  margin-bottom: 30px
}
.big-container{
  background-color: rgb(195, 225, 204);
  padding: 30px;
  padding-bottom: 200px;
  border-radius: 20px;
}

.desserts-container {
  width: 80%;
  margin: 6em auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-top: 30px;

  .dessert-circle {
    width: 150px;
    height: 150px;
    position: relative;

    .img {
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 50%;
        object-fit: cover;
      }
  }

  .btn-viewmore {
    position: absolute;
    padding: 4px;
    background-color: rgb(129, 194, 190);
    font-size: larger;
    width: 80px;
    border-radius: 8px;
    transform: translateX(-50%);
    bottom: -50px;
    left: 3.6em;
  }
}