.thank-you-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    
    padding: 100px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-container {
    color: var(--primary-color);
    backdrop-filter: blur(5px);
    padding: 50px;
    margin: 0 auto;
    max-width: 1000px; 
    background-color: rgba(230, 231, 229, 0.8); 


    animation: slideDown 1s;

    @keyframes slideDown {

        from{

          transform: translateY(-100%);
           
        }to{

          transform: translateY(0);
            
        }
        
    }


  }

  .blur {
    filter: blur(3px);
    
    
  }

h1{

  font-size: 48px;
  letter-spacing: .1rem;
  margin-bottom: 20px;

}
  
  h1,h2{

    text-align: center;
    font-family: 'DM Serif Display', serif;

  }


  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .sing-up-button{

    margin:10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 50px;

    &:hover{

      background-color:var(--primary-color);
    }
    
  
 }

 .button-submit{
  a{
  text-decoration: none;
  color: black;
  
  }
 }


 .input-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;

}

.input-container input:focus {
  outline: none;
  box-shadow: none;
}

.input-container1 input:focus {
  outline: none;
  box-shadow: none;
}



 input[type="text"] {
   
    width: 49%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    height: 60px;
    margin: 30px 0;
   
    
   
  }

  input[type="email"]{
    height: 60px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    margin: 10px 0;
    margin-bottom: 20px;
    
    
  }

  .term{
    font-size: 16px;
    margin-left: 5px;
  }

  .bottom-signup{
    margin-top: 50px;
  }
  