.container-hero{
    background-color: rgb(233, 240, 235);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 100px;
  
  }
  
  .columnleft{
   width: 50%;
  padding: 100px;
  }
  
  
  .info{
    line-height: 1.8;
    margin-top: 1.75em;
    font-size: x-large;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  }
  
  .button-recipe{
    border: none;
    outline: none;
    background-color: rgb(228, 152, 10);
    padding: 0.8em 1em;
    font-size: 1.2em;
    font-weight: 600;
    color: aliceblue;
    border-radius:6px ;
    margin-top:20px ;
  
  }
  
  .columnimages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 30px;
    padding-right: 100px;
  }
  
  
  .heroimages{
    width: 240px;
    height: 200px;
   border: 2px solid;
   overflow: hidden;
   border-radius: 8px;
   position: relative;
  img{
    width:100%;
    height: 100%;
  }
  }
  
  