.recipes{
  width: 100%;
  margin:auto;
  padding: 1em;
  font-size: larger;
  background: transparent;
  font-family: var(--font-family);

.previous-search{
  width: 99%;
  margin: auto;

  h2{
    margin: 2em 0;
    color: var(--text-color);
    font-size: 2.5em;
    font-family: var(--font-family);
  }

 .previous-searching-container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;

  .search-item{
    background:var(--primary-color);
    color:var(--text-color);
    padding: .5em;
    margin: 1em 0;
    border-radius: 25px;
    box-shadow:var(--box-shadow);
    animation: slideRight .5s forwards;
  }
 }

 .find-box{
  width: 30%;
  margin:0 0 0 58em;
  input{
    width: 70%;
    height: 40px;
    border-radius: 3px;
    border: transparent;
    outline:none ;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  input:hover {
    box-shadow: 2px 2px 10px rgba(125, 246, 109, 0.919)inset;
  }
  
  button{
   
    border: none;
    color: var(--text-color);
    padding: 1em;
    padding-inline: 1em;
    border-radius: 3px;
    background: var(--primary-color);
    
  }
 }
}

@keyframes slideRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
  
}

.cards-container {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .recipes-card {
    position: relative;
    background-color: aliceblue;
    box-shadow: var(--box-shadow);
    width: 300px;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    .title{
     margin: 5px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 1.5px;
      display: inline;
      background:var(--primary-color);
      padding: 4px 8px;
      border-radius: 25px;
    }

    .img-from-recipes {
      width: 100%;
    }

    .recipe-diet {
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      font-size: small;
    }

    .recipe-summary { 
      width:100%;
      border-top:2px double grey;
      font-size: small;
      text-align: justify;
      margin-top: 2px;
      margin-bottom: 40px;
      line-height: normal;
      a{
        text-decoration: none;
        font-weight: 700;
        &:hover{
          color: var(--text-light);
        }
      }
    }

    .button-87 {
      position: absolute;
      color: var(--text-color);
      border: none;
      border-radius: 25px;
      padding: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      right: 2px;
      bottom: 2px;
      background: var(--primary-color);

      &:hover {
        background:var(--text-color);
        color: var(--primary-color);
      }
    }
  }

}
}
