.container-terms{
    padding-top: 200px;
    padding: 100px;
    margin: 0 auto;
    max-width: 1000px; 
    background-color: rgba(230, 231, 229, 0.8); 
}

h1,h3,p{

    line-height: 2.5em;
    color: var(--text-color);
}